#{extends 'main.html'/}
#{set title:'Receipt-Yourself-External Issue Invoice' /}

<h3>Business partner invoices</h3>
<table border="1">
    <tr>
        <th>Invoices</th>
        <th></th>
        <th></th>
    </tr>
    #{list items: invoices, as:'invoice'}
        <tr>
            #{form @BusinessRequest.sendInvoiceById()}
                <td><input type="hidden" name="id" value="${invoice.id}"/></td>
                <td>${invoice}</td>
                <td><input type="submit" value="Issue Invoice!"/></td>
            #{/form}
        </tr>
    #{/list}
</table>
<hr/>
<a href="/admin">Go to CRUD section!</a>
